@model IEnumerable<RestaPointsRestaurant.Models.Kilpailut>
@{
    ViewData["Title"] = "Kilpailut";
}
</br>
<h2>Kilpailut</h2>
<p>
    <a asp-action="UusiKilpailu">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kuvat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osallistujat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlkuAika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoppuAika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tavoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Palkinto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (i == 0)
                    {
                        <img src="~/images/kungpaochicken.jpg" alt="ASP.NET" class="img-responsive" />
                    }
                    else if (i == 1)
                    {
                        <img src="~/images/friends.jpg" alt="ASP.NET" class="img-responsive" />
                    }
                    else
                    {
                        <img src="~/images/noodles.jpg" alt="ASP.NET" class="img-responsive" />
                    }
                    @{i++;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osallistujat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlkuAika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoppuAika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tavoite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Palkinto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Linkit)
                </td>
                <td>
                    @Html.ActionLink("Muokkaa", "MuokkaaKilpailut", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Tiedot", "TiedotKilpailut", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Poista", "PoistaKilpailut", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
