@model RestaPointsRestaurant.Models.Kilpailut

@{
    ViewData["Title"] = "Poista Kilpailut";
}

<h3>Haluatko varmasti poistaa?</h3>
<div>
    <h4>Kilpailu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kuvat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kuvat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Selite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Selite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Osallistujat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Osallistujat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlkuAika)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlkuAika)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoppuAika)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoppuAika)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tavoite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tavoite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Palkinto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Palkinto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Linkit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linkit)
        </dd>
    </dl>
    
    <form asp-action="PoistaKilpailut">
        <input type="submit" value="Poista" class="btn btn-default" /> |
        <a asp-action="Kilpailut">Takaisin listaan</a>
    </form>
</div>
